.movie-details,
.movie-details-header,
.movie-details-timings,
.movie-details-info {
  display: flex;
}

.movie-details {
  gap: 50px;
}

.movie-details-info {
  flex-direction: column;
}

.movie-details-header {
  gap: 25px;
  align-items: center;
}

.movie-details-header h3 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.movie-details-timings {
  gap: 50px;
  color: #F65261;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 30px 0;
}

.movie-details-poster {
  min-width: 325px;
}

.movie-details-rating {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  line-height: 60px;
}

.movie-details-genres {
  text-align: left;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
}

.movie-details-description {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.5;
  text-align: left;
  margin: 0;
}