.details,
.header,
.timings,
.info {
  display: flex;
}

.details {
  gap: 50px;
  background-color: #232323;
}

.info {
  flex-direction: column;
}

.header {
  gap: 25px;
  align-items: center;
}

.header h3 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.timings {
  gap: 50px;
  color: #F65261;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 30px 0;
}

.img {
  max-width: 450px;
}

.rating {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  line-height: 60px;
}

.genres {
  text-align: left;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
}

.description {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.5;
  text-align: left;
  margin: 0;
}